<h3>入力内容確認画面</h3>
<%= form_with(model: @user, local: true, url: confirm_id, method: confirm_request) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :password %>
  <%= f.hidden_field :password_confirmation %>
  <p>名前:<%= @user.name %></p>
  <p>メールアドレス:<%= @user.email %></p>
  <p>パスワード : ＊＊＊＊＊＊＊＊</p>
  <p>パスワード確認用 : ＊＊＊＊＊＊＊＊</p>
  <%= f.submit "登録する" %>
  <%= f.submit "戻る", name: 'back' %>
<% end %>