<% if @picture.errors.any? %>
  <div id="error_explanation">
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @picture.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @picture, local: true ,url: confirm_action_picture) do |f| %>
  <div class="table_wrapper">
    <%= f.hidden_field :user %>
    <p class="comment_label"><%= f.label :'コメント' %></p>
    <%= f.text_area :content %>
    <div>
      <% if !@picture.image? %>
        <%= f.file_field :image %>
      <% end %>
      <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="button">
      <%= f.submit "入力内容確認", class: "btn btn-primary button_margin" %>
      <%= link_to "一覧に戻る", pictures_path, class: "btn btn-primary button_margin" %>
    </div>
  </div>
<% end %>