<h3>内容確認ページ</h3>
<%= form_with(model: @picture, local: true ,url: confirm_id_picture, method: confirm_request_picture) do |f| %>
  <div class="picture_wrapper">
    <div class="field">
    <% if @picture.id %>
      <p>投稿番号 : <%= @picture.id %></p> 
    <% end %>
      <p>名前 : <%= @picture.user.name %></p> 
      <%= f.hidden_field :content %>
      <p>コメント : <%= @picture.content %></p>
      <p><strong>Image:</strong></p>
      <%= f.hidden_field :image_cache %>
      <%= image_tag @picture.image.url %>
    </div> 
    <div class="picture_button">
      <% if @picture.id %>
        <%= f.submit value="変更" %>
      <% else %>
        <%= f.submit value="投稿" %>
      <% end %>
      <%= f.submit "戻る", name: 'back' %>
    </div>
  </div>
<% end %>
<br>
<%= button_to "一覧画面へ戻る", {controller: 'pictures', action: 'index'}, {method: :get} %>