<h3>みんなの投稿</h3>
<% @pictures.each do |p| %>
  <p>名前 : <%= p.user.name %></p> 
  <p>コメント : <%= p.content %></p>
  <% if p.image.url %>
    <%= image_tag p.image.url %>
  <% end %>
  <br>
  <% if p.user == current_user %>
    <%= link_to "詳細", picture_path(p.id) %>
    <%= link_to "編集", edit_picture_path(p.id) %>
    <%= link_to "削除", picture_path(p.id), method: :delete, data: { confirm: '本当に削除しますか？'} %>
  <% end %>
  <br>
<% end %>
<br>
<%= link_to "投稿する", new_picture_path %>