<%= form_with(model: @post, local: true ,url: pictures_path) do |form| %>
  <div class="picture_wrapper">
    <div class="field">
      <%= form.label :'コメント' %><br>
      <%= form.text_area :comment %>
      <br>
    </div> 
    <div class="picture_button">
      <%= form.submit value="内容確認" %>
      <%= link_to "一覧に戻る", pictures_path %>
    </div>
  </div>
<% end %>
