<!DOCTYPE html>
<html>
  <head>
    <title>Footprints</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="body_wrapper">
      <header>
        <div class="header_nav">       
          <div class="logo">
            <p>footprints</p>
          </div>
          <% if logged_in? %>  
            <ul class="nav_list">
              <li class=nav_items><%= link_to "プロフィール", user_path(current_user.id) %></li>
              <li class=nav_items><%= link_to "投稿一覧", pictures_path %></li>
              <li class=nav_items><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
            </ul>
          <% else %>
            <ul class="nav_list">
              <li class=nav_items><%= link_to "サインアップ", new_user_path %></li>
              <li class=nav_items><%= link_to "ログイン", new_session_path %></li>
            </ul>
          <% end %>
        </div>
      </header>
      <div class="flash_message">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key} bg-success") %>
        <% end %>
      </div>
      <%= yield %>
      <footer>
        <div>
          <p>© 2021 tetsuya</p>
        </div>
      </footer>
    </body>
  </div>
</html>
